<template>
  <Alert type="warning" icon="iconoir-warning-triangle">{{
    $t('snapshotModalWarning.message')
  }}</Alert>
</template>

<script>
export default {
  name: 'SnapshotModalWarning',
}
</script>
