.row-history-entry {
  display: flex;
  flex-direction: column;
  margin: 24px 20px 0 20px;
}

.row-history-entry--first {
  margin: 24px 20px 24px 20px;
}

.row-history-entry__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.row-history-entry__content {
  padding: 10px 14px 0 14px;
  border: 1px solid #d9dbde;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.row-history-entry__name {
  font-size: 12px;
  height: 14px;
  margin-left: 8px;
  color: #062e47;
  font-weight: 400;
}

.row_history-entry__initials {
  flex: 0 0 24px;
  font-weight: bold;
  color: $white;
  background-color: $color-primary-500;
  border-radius: 100%;
  margin-left: 0;

  @include center-text(24px, 12px);
}

.row-history-entry__timestamp {
  @extend %ellipsis;

  font-size: 12px;
  font-weight: 400;
  color: $color-neutral-400;
  // Prevent long characters like 'g' in the time display being cut off
  // partway down.
  height: 14px;
  margin-left: 6px;
}

.row-history-entry__field {
  font-weight: 600;
  font-size: 10px;
  color: $color-neutral-600;
  margin-bottom: 10px;

  &:not(:first-child) {
    margin-top: 4px;
  }
}

.row-history-entry__field-content {
  overflow: hidden;
}

.row-history-entry__diff {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.row-history-entry__diff--removed {
  background-color: #f5d3ce;
  text-decoration: line-through;
}

.row-history-entry__diff--added {
  background-color: #c2f0d3;
}
